#dropdown {
  border: 1px solid var(--white);
  width: 100%;
  background-color: var(--orange);
  max-height: 300px;
  overflow: auto;
}
#dropdown ul {
  margin: 0;
  padding: 0;
}
#dropdown ul li {
  margin: 0;
  padding: 15px 20px;
  list-style: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
}
.double {
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.double button {
  width: 30px;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
}
#hidden {
  display: none;
}